venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3

# Logs
*.log

# MacOS
.DS_Store

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# IDE / Editor
*.sublime-workspace
*.sublime-project
.idea/
.vscode/

# Misc
*.bak
*.tmp