<h2>⚔️ Combat Pokémon</h2>

<div class="selection-container">

  <!-- JOUEUR 1 -->
  <div class="player-column">
    <h3>Joueur 1</h3>
    <div class="pokemon-list">
      <div
        *ngFor="let p of pokemons"
        (click)="selectPlayer1(p)"
        [class.selected]="player1Selected?.id === p.id"
      >
        <img [src]="p.sprite_url" />
        <p>{{p.name}}</p>
      </div>
    </div>
  </div>

  <!-- JOUEUR 2 -->
  <div class="player-column">
    <h3>Joueur 2</h3>
    <div class="pokemon-list">
      <div
        *ngFor="let p of pokemons"
        (click)="selectPlayer2(p)"
        [class.selected2]="player2Selected?.id === p.id"
      >
        <img [src]="p.sprite_url" />
        <p>{{p.name}}</p>
      </div>
    </div>
  </div>

</div>

<button
  class="start-btn"
  (click)="startBattle()"
  [disabled]="!player1Selected || !player2Selected || inCombat"
>
   Lancer le combat
</button>

<!-- ARENE -->
<div class="arena" *ngIf="player1Selected && player2Selected">

  <div class="pokemon-fight">

    <div>
      <div class="hp-bar">
        <div class="hp-fill" [style.width.%]="hp1Percent"></div>
      </div>
      <img id="p1-img" [src]="player1Selected.sprite_url" />
    </div>

    <div>
      <div class="hp-bar">
        <div class="hp-fill" [style.width.%]="hp2Percent"></div>
      </div>
      <img id="p2-img" [src]="player2Selected.sprite_url" />
    </div>

  </div>

  <h3 *ngIf="result && !inCombat">
    🏆 {{result.winner}} gagne en {{result.turns}} tours !
  </h3>

</div>